[2020-12-07 07:56] xxholly32 opened #1 "Missing markdown-plugin (markdownItUses api) in README.md"
This is a nice feature, but the documentation is really missing

i suggest

[code]

=>

[code]

[2020-12-07 14:21] antfu commented on #1
Thanks for bringing this up! Introduced `markdownItSetup` in v0.1.4 and should make more sense on using custom plugins.

[2020-12-07 14:21] #1 closed

[2020-12-10 15:36] DeFUCC opened #2 "Parsing frontmatter yaml"
Hey! Thank you for your great work at creating this vite ecosystem.

I enjoy adapting vioe and component auto imports into my current vite projects. I makes me think of moving my Grav PHP CMS website to vite too. It's a flat file CMS and I already have the .md files to use. But I have so much details for each page in the frontmatter YAML section of every file... Can you advice a strategy of parsin

[2020-12-12 08:56] antfu commented on #2
Yeah, this is definitely a feature to have, I will think about it a bit and implement it later. PR welcome as well.

[2020-12-21 20:47] #2 closed

[2021-01-09 15:39] antfu opened #3 "Sourcemap support"
In the latest Vite,

[2021-01-10 17:59] davay42 opened #4 "Treat inner relative links as router-links"
Is it possible for the plugin to treat relative links like `[link](page)` as router-links so they don't reload the page, but navigate via the vue-router?

[2021-01-10 18:23] antfu commented on #4
Might be possible with markdown-it plugin to rewrite `<a>` as `<route-link>`. Not very familiar with that part, but feel free to have a try. If it works, we can have it in the readme. Thanks!

[2021-02-24 20:05] ansidev opened #7 "Support frontmatter data in <route>"
1. Currently, we cannot use frontmatter data in route config.

RFC:

[code]

will push the post title into the route meta.

2. If we can provide the option for auto push frontmatter data into the route meta, it's good.

RFC:
[code]

will get frontmatter data from frontmatter keys: `title`, `author` and push to the route meta automatically if they exist.

[2021-02-25 21:34] Toilal opened #8 "Support vite-plugin-vue2"
I try to use this plugin with vue2 using [vite-plugin-vue2](https://github.com/underfin/vite-plugin-vue2), but it fails with the following error :

[code]

[2021-02-25 23:43] Toilal commented on #8
I spent some time on this issue, and get it almost work. But I still can't get HMR to work properly.

It seems the Markdown file is processed without any problem in `@vitejs/plugin-vue`, but fails inside `vite-plugin-vue2`. The first use `@vue/compiler-sfc`, the second `vue-template-compiler`.

[2021-02-26 09:04] Toilal opened #10 "Support any template engine"
I have created a fork of this plugin to support any template engine instead of only markdown : https://github.com/Toilal/vite-plugin-md/tree/vite-plugin-render

The configuration is as below, you can use any template engine (markdown, pug, ...) through a custom render function.

[code]

If you agree to make this plugin more generic, i'll open a pull request and let your rename the module to someth

[2021-02-26 09:23] antfu commented on #10
Hi @Toilal, your plugin looks good! But TBH, I don't think we would make `vite-plugin-md` that general. Basically, this plugin offers much more than just transforming formats, keep it specific can also make it possible for us to optimize or add more features to it without requiring users to update their usages.

Sorry as I would reject your request atm. But please keep up with your good work or ev

[2021-02-26 09:23] #10 closed

[2021-02-26 09:43] Toilal commented on #10
No problem at all, I was expecting this answer. i'll release my plugin and credit your work in the README.md, thanks.

[2021-02-26 10:45] Toilal commented on #10
The plugin is released as 0.6.0 here : https://www.npmjs.com/package/vite-plugin-render

 i'll try to maintain it and merge your changes back :)

[2021-02-26 13:48] #8 closed

[2021-03-09 04:18] tolking opened #11 "Cannot use style tags in md file"
[code]

[code]

Will work fine

[2021-03-09 08:33] #11 closed

[2021-03-19 21:02] FallDownTheSystem opened #12 "Can't have a vite-plugin-pages route block and vue router router-link element in the same markdown file"
There seems to be a conflict with [vite-plugin-pages](https://github.com/hannoeru/vite-plugin-pages) SFC custom block `<route>` and with vue router's `<router-link>` element.

You can have a `<router-link>` element as long as there is no `<route>` block and vice versa.
You can also use CamelCase name for the `<RouterLink>` and it works. A wrapper component also works, i.e. a component that has a `

[2021-03-20 09:58] #12 closed

[2021-03-22 05:17] #7 closed

[2021-03-23 07:11] hcw2175 opened #13 "It doesn't seem to support vue2"
Hi，I installed this plug-in on the VUE2 version, but it doesn't seem to support VUE2.

The following exceptions occurred during installation:

[code]

Can't I use it on vue2?

[2021-03-23 09:00] antfu commented on #13
Can you share a minimal reproduction? Thanks.

[2021-03-23 09:10] hcw2175 commented on #13
I am using this vue2 + vite2 template：[vite-vue2-windicss-starter](https://github.com/lstoeferle/vite-vue2-windicss-starter)

You can download it and execute the command to install dependencies： `npm install`.

Then install this plugin you can see the error:

![image](https://user-images.githubusercontent.com/8132286/112121875-afa76480-8bfa-11eb-9157-0a944aea24a6.png)

[2021-03-23 09:28] antfu commented on #13
Can you try with `--force`? npm@7 sometimes could be troublesome

[2021-03-23 10:10] hcw2175 commented on #13
It's worked !!!   Thank you ~

[code]

[2021-05-13 10:46] Ahacad opened #14 "Add character references for curly brackets"
See slidevjs/slidev/issues/95.

The double curly brackets are in collision with the vue syntax, maybe should change all curly brackets to character references after `markdown-it` rendering.

[2021-06-18 04:34] m-hosoi commented on #4
[code]

[2021-06-29 09:10] zeroby0 opened #15 "Using frontmatter.name causes Compile Error"
Hi!

Using the [example provided in the Readme](https://github.com/antfu/vite-plugin-md#frontmatter) in an empty Vite+Vue project with vite-plugin-md, causes compile error:

[code]

[code]

but if I use just `{{frontmatter}}` instead, there is no error. Here is another example:

[code]

Accessing `{{frontmatter.meta.name}}` causes compilation error again. But the error position marker in the termi

[2021-06-30 21:57] woldtwerk commented on #14
as a workaround  you can do this:
[code]

It add a v-pre to all code tag, which skips  parsing of that element. See https://v3.vuejs.org/api/directives.html#v-pre

[2021-07-15 17:39] #14 closed

[2021-07-15 17:50] #15 closed

[2021-07-15 17:51] #4 closed

[2021-07-19 10:55] Mrxyy opened #18 "Is there a solution to edit vue code online?"

[2021-07-19 14:36] antfu commented on #18
https://twitter.com/haoqunjiang/status/1415684440529924117

[2021-07-19 14:36] #18 closed

[2021-07-21 09:14] pbastowski opened #19 "ReferenceError: defineExpose is not defined in index.md:6"
I'm getting the error
`ReferenceError: defineExpose is not defined in index.md:6`
after upgrading to 0.8.0. There was no error with 0.6.7.

I have confirmed that the error starts with 0.7.0 and continues with 0.8.0.

Here is the generated index.md

[code]

and here the original `index.md`

[code]

I am using `vite-plugin-md` together with `vite-plugin-pages` and `vite-plugin-components`.

However,

[2021-07-21 15:42] antfu commented on #19
?What's your vue version

[2021-07-26 11:24] pbastowski commented on #19
Sorry for the late reply, the vue and compiler versions are below.

"vue": "3.0.11",
"@vue/compiler-sfc": "3.0.11",

[2021-07-26 12:42] antfu commented on #19
Consider upgrade to the latest version, the `<script setup>` syntax has changed a bit

[2021-07-26 13:29] #19 closed

[2021-07-28 09:42] i-ez opened #20 "Markdown is not a function"
Markdown is not a function
    at file:///E:/ez/ez-vite/vite.config.ts.js
    at ModuleJob.run (internal/modules/esm/module_job.js:152:23)
    at async Loader.import (internal/modules/esm/loader.js:166:24)
    at async loadConfigFromFile (E:\ez\ez-vite\node_modules\vite\dist\node\chunks\dep-c1a9de64.js:75464:31)
    at async resolveConfig (E:\ez\ez-vite\node_modules\vite\dist\node\chunks\dep-c1a9d

[2021-07-28 09:44] i-ez commented on #20
my vite.config.ts file
[code]

[2021-07-28 20:48] sistematico opened #21 "Index page listing all md files"
It's possible to create a index page listing all md files? Like a "posts" index?

[2021-07-29 05:20] Apostolique opened #22 "Provide page id to the markdown-it env"
I like to rewrite links based on the page id. It would be nice if it was injected in the markdown-it env:

https://github.com/antfu/vite-plugin-md/blob/ca1df47f4c7e9aa2c47e714130e704fa551e0f0c/src/markdown.ts#L61

For example:

[code]

I can do a PR if this is wanted.

[2021-07-29 06:35] antfu commented on #22
that's a good call, pr welcome!

[2021-07-29 07:15] antfu commented on #21
Here is an example https://github.com/antfu/antfu.me/blob/2977b4210a8fb44bb8398f6a0d8255b55abfeb2f/vite.config.ts#L54-L63

[2021-07-29 18:45] sistematico commented on #21
This with conflict with default Vitesse vite.config.js right?

![code](https://user-images.githubusercontent.com/97509/127548627-1016211f-6898-47c3-9386-945973d36c00.png)

[2021-07-29 18:53] sistematico commented on #21
nvm, i think i got it! Thank you very, very much! Awesome job.

[2021-07-29 18:53] #21 closed

[2021-07-30 02:40] #22 closed

[2021-08-16 22:16] Codermar commented on #13
I am not able to make this work with Vue 2. I've used vite-vue2-windicss-starter as well. Then added vite-plugin-md. I get:

[code]

[2021-08-16 22:38] Codermar commented on #19
I have the same problem. I've started with the template vite-vue2-windicss-starter then added vite-plugin-md, I also updated all dependencies still have the problem with "vite-plugin-md": "^0.10.0", when I revert to 0.6.7 the issue goes away

[2021-08-16 23:40] rderimay opened #24 "Access frontmatter object from container component"
This is not a bug.
I would like to access the frontmatter object from the containing component without using the wrapperComponent option because I have multiple routes and need to have different wrapping components depending on the route.
Is there a way to do this?

Many thanks!

[2021-08-16 23:44] antfu commented on #13
A temporary workaround:

[code]

[2021-08-16 23:57] antfu commented on #13
@Codermar should be fixed in v0.11.0

[2021-08-16 23:57] #13 closed

[2021-08-16 23:58] antfu commented on #24
it's already available as `frontmatter` https://github.com/antfu/vite-plugin-md#frontmatter

[2021-08-17 00:26] rderimay commented on #24
Thanks for helping out. I see that the rendered MD component has the frontmatter object but it is not "bubbling up" to the Blog component for example and I can not find a way to access it from the Blog component :-(

I could use the wrapperComponent option with a component that would emit the frontmatter object but their should be a nicer way. Need to become better in Vue 3...

![image](https://us

[2021-08-17 01:53] Codermar commented on #13
Thank you!

[2021-08-17 08:17] #24 closed

[2021-08-17 09:00] rderimay opened #25 "Dynamic props inside md tags?"
Hi.

I defined a .md component like this:

[code]

The goal is to pass the path as prop. The problem is that it renders as simple text and not as image tag, as I expected:

[code]

[2021-08-17 16:35] Codermar commented on #13
@antfu Quick question. Is is possible to via option make it return the markdown content and not the sfc? So I can dynamically do something like ```const { body } = await import(`./doc-content${page.file}`);```
Let me know. Thanks

[2021-08-18 02:32] antfu commented on #13
Use `?raw` to get the raw markdown. And you need to use glob to fetch them, dynamic constructed import function will not work for bundlers. https://vitejs.dev/guide/features.html#glob-import

[2021-08-18 03:15] antfu commented on #25
Tried `<img :src="path"/>`? The markdown is parsed before Vue interpret it, the `{{}}` probably get escaped in your case.

[2021-08-20 07:36] rderimay commented on #25
That would be an easy fix of course :-)

My "problem" with this is that I apply a treatment to MD images though a custom renderer written as a `rules.image` in vite.
Adding `{{path}}` as src part in the MD, makes the image not even being recognized as image thus, not going through the custom rule renderer...

[2021-08-20 08:08] antfu commented on #25
Sorry I don't get it, any examples?

[2021-08-20 08:30] rderimay commented on #25
Yes sure.

I have a render method which, simplified, looks like this:

[code]

I would expect `![]({{ $path }}) to be recognized as image and be passed to this method, but this is not the case.

[2021-09-04 14:07] jekip opened #26 "It appears that markdownItOptions does not support the highlight function"
If you could take a look and fix some

[2021-09-04 14:11] jekip commented on #26
![QQ截图20210904221045](https://user-images.githubusercontent.com/19426584/132097378-9c4a11c4-9830-498e-9207-d8c65b390260.png)

[2021-09-09 06:21] ChangweiXu opened #27 ""No matching export" in Mac platform"
Hi there,

When I start the vue server with vite-plugin-md on my Mac, the following errors appear:

[code]

It seems that `win32` might be the option for Windows platform, so I guess it's the issue about setting the environment. Would you please give some hint?

Thank you.

[2021-09-09 08:49] antfu commented on #27
What’s your node version?

[2021-09-09 09:00] ChangweiXu commented on #27
`v16.9.0`

[2021-09-17 15:05] gluck opened #28 "Plugin build wrongly packages @rollup/pluginutils"
Since version 0.9.0, `dist/index.js/mjs` has grown from 6k to 60k, bundling (a copy of) `@rollup/pluginutils` & its dependencies (e.g. picomatch).

Tsup probably bundles this lib because it''s (wrongly I assume) listed in devDep instead of deps.

Moving pluginutils to `dependencies` fixes it.

Thanks.

[2021-09-17 15:18] #28 closed

[2021-10-27 07:10] sadeghbarati opened #31 "markdown-it-shiki error in vite build"
works fine in Vite dev

`"vite-plugin-md": "^0.11.4"`

[code]

---

Vite build **Promise { < pending > }**:

[vite-plugin-md] Shiki.getHighlighter() never gets resolved
file: F:/Test/vite-vitessg/src/pages/about.md
Error: Shiki.getHighlighter() never gets resolved
    at Object.MarkdownItShiki.markdownit.options.highlight (F:\Test\vite-vitessg\node_modules\markdown-it-shiki\dist\index.js:73:17)

[2021-11-14 12:03] bux opened #35 "Feature request: get access to frontmatter vars on children routes"
When using vite-plugin-md in combination with vite-plugin-pages and similar it would be very convenient to be able to access the frontmatter values of child routes.

Use case would be to automatically render a subnavigation that displays e.g. the title of a child page.

[2021-11-21 08:20] mythz commented on #35
Is there an inconvenient way to access frontmatter from routes? I'm also using [vite-plugin-pages](https://github.com/hannoeru/vite-plugin-pages) and can't see a way to access the associated frontmatter or even the Markdown component itself from the generated route.

[2021-11-21 08:29] mythz commented on #35
Ok was browsing [antfu.me/vite.config.ts](https://github.com/antfu/antfu.me/blob/main/vite.config.ts) for a more advanced configuration example and was able to find how it's done:

[code]

[2021-11-26 08:45] oliverpool opened #38 "Access `defineExpose` from script"
First of all, thank you for your amazing work for the vue/vite ecosystem.

Is there a way to access the frontmatter from the script ?
[code]

If I do `console.log(ComponentA)`, there doesn't seem to be so much available:
[code]

I probably need to trigger some transformation, but I don't know where should I search for such a function (`compiler-sfc` probably?)
(this is probably more a general vite

[2021-12-01 15:11] sdoerger opened #39 "Not an issue, but question: How to import all markdown files and render it in v-for to components?"
I would like to import all markdwon files at once and render them in a v-for-loop as components, like:

[code]

So I get the files but I can not render them ...
Is there a way to make it work.

Thanks in advance

[2021-12-16 07:50] mathieutu opened #41 "Frontmatter not accessible with SSG/SSR"
Hi, thanks for this package.

I've a very basic `MyText.md` markdown file:
[code]

I'm trying to access the frontmatter from outside the markdown:

[code]

I've seen that you defineExport the frontmatter, so we can access the object via a ref:

[code]

However, as ref are populated in mount, we don't have access the theses properties during SSR or SSG.

Maybe could we think of an other way to acce

[2021-12-16 07:51] mathieutu commented on #41
the #38 issue would be solved too.

[2021-12-16 10:39] mathieutu commented on #39
Hi @sdoerger , actually you're not far from something working.

I think you forgot to extract the default export in your object.

I don't really understand why you're doing all this computation on your array. The code I would write myself would be:
[code]
and so you have an array of version components that you can iterate and pass to `component :is`

👋
Mathieu

[2021-12-17 08:05] sdoerger commented on #39
Yeeees. Thank you so much @mathieutu. Can't tell how happy that makes me.
Yes, that is much more elegant. I rarely use actually .map.
So my new year resolution: More .map :)

So, here I map over just the object values of the import and from there I "pass" the key-value-pair default: component and return just the value of it, which gives much a clean array of components?

Thank in advance

[2021-12-17 08:05] #39 closed

[2021-12-17 10:51] mathieutu commented on #39
Glad to see it helps.

An export can be named, or default :
`import { named1, named2 }, defaultExport from 'foo`

When you import all the module, you will have an object with
[code]

Here you just want the default export, so you can map over the modules, to get only it.

And by the way I can only recommend you to ban for loop from your code, and use the dedicated utilities like map, filter, reduce

[2021-12-24 05:21] #38 closed

[2021-12-24 05:21] #41 closed

[2021-12-30 10:34] mathieutu commented on #35
Hi, maybe https://github.com/antfu/vite-plugin-md/pull/42 could help you?

[2022-01-06 21:17] ctwhome opened #45 "Load MD files dinamically instead of creating a especific component?"
Hallo @antfu thank you for the efforts you are making to make the Vue world shine!

I have `vite-plugin-md` working with Nuxt 3 perfectly, but I wonder if it is possible to load a markdown file dynamically, for example from the router params. Something like `<markdown :content="$route.param.page">` or similar

[code]

[2022-01-06 21:40] ctwhome commented on #45
So this loads the modules but I still wouldn't know how to use them in the Vue template?

[code]

[2022-01-10 00:45] ctwhome commented on #45
And apparently in not possible to import files dinamically, let's say from a router param according to vite documentation for import.meta.globEager.

If I understand correctly there is no way to make it work dinamically?

[2022-01-10 19:58] antfu commented on #45
That's not in the scope of this project, if you need dynamic, you can directly import `markdown-it` in the runtime.

[2022-01-10 19:58] #45 closed

[2022-01-10 19:59] antfu commented on #45
Or if you are just want to build a blog, here is mine using this plugin, https://github.com/antfu/antfu.me, for you to reference.

[2022-01-12 08:11] ctwhome commented on #45
yes, the idea is to have a blog like yours, but running with Nuxt. I tried to use vite-pages but I couldn't get it to work

[2022-02-04 01:55] unmian opened #48 "Data and component problem with vite-plugin-vue2"
I can't use data defined in markdown file with vite-plugin-vue2.
Also, custom components cannot be imported successfully.

example code

[code]

error message

[code]

[2022-02-05 01:01] unmian commented on #48
base.config.ts

[code]

[2022-02-28 16:47] CalebKester opened #49 "Markdown in component slots"
Is it possible to **parse** markdown and pass it to a slot?

[code]

[2022-02-28 17:01] #49 closed

[2022-03-14 07:20] jd-0001 opened #51 "Can I use this with nuxt for pages?"
Hi,

I am building docs and I want to use markdown for each pages. I tried adding `button.md` in pages dir but with this plugin it shows:
[code]

my nuxt config:
[code]

[2022-03-16 02:46] Tyh2001 opened #52 "Style and code highlighting is not supported？"
It is recommended to add a style, or add a specified class for each different label. You can introduce a style or customize a style.

In addition, the code snippet wants to be highlighted.

[2022-03-16 08:28] antfu commented on #52
https://markdown-it.github.io/markdown-it/

[2022-03-16 08:28] #52 closed

[2022-03-24 19:16] antfu opened #57 "`wrapperClasses` no longer works since v0.12"
https://github.com/antfu/antfu.me/blob/4da2324c0ca7f52ca9247b0ba5cce6bb9d589437/vite.config.ts#L93

If you upgrade to v0.12 you will see the class is not injected.

/cc @yankeeinlondon incase you know a quite solution before I look into it, thanks!

[2022-03-24 21:34] Codermar opened #58 "Issue #13 is back after 0.12.0 upgrade"
[issue 13](https://github.com/antfu/vite-plugin-md/issues/13) is back after I upgraded "vite-plugin-md": "0.12.0" or "vite-plugin-md": "0.12.1"

The workaround of the original issue makes it work as it did before: in vite.config
[code]

Thank you! It's all good both with workaround and now with new release v0.11.0

_Originally posted by @Codermar in https://github.com/antfu/vite-plugin-md/issues/1

[2022-03-27 02:03] qq958001996 opened #59 "I try to use this plugin for CSR render，but it was not working correctly when run build， unrecognized .md file"

[2022-03-27 03:17] #59 closed

[2022-03-27 03:18] qq958001996 commented on #59
maybe is my markdown file have some problems

[2022-03-27 19:59] yankeeinlondon commented on #57
Just back from skiing. I'll get a test in for that and get it fixed.

[2022-03-27 20:07] yankeeinlondon commented on #58
@Codermar I'm going to create a unit test to try and ensure that the functionality you're looking for is captured as a test and therefore not regressed going forward. I can dig through this history but if you had time for a quick bullet pointed description that might help.

[2022-03-27 20:12] yankeeinlondon commented on #26
@jekip I don't believe that is part of the core API is it? [API Docs](https://markdown-it.github.io/markdown-it/). I think what you're looking for is the result of using a plugin to Markdown-IT. Maybe Prism or Highlighter.js?

[2022-03-27 20:33] yankeeinlondon commented on #57
So it I believe `wrapperClass` by itself does work but when you use it in conjunction with `wrapperComponent` things go awry. I'm not 100% sure I understand expected behavior here but I'll look at v0.11 to see if I can figure it out.

[2022-03-27 20:55] yankeeinlondon commented on #57
Not sure what review process you'd typically do for fixes like this but have raise a PR for now

[2022-03-27 23:42] yankeeinlondon commented on #51
I don't know Nuxt but if you're using ViteJS as your build system then it should work. The error you're getting seems to be trying to resolve a component called `button` in the _components_ folder. This would appear to NOT be related to the `button.md` file in your _pages_ directory.

[2022-03-27 23:44] yankeeinlondon commented on #31
This appears to not be related to this plugin but rather your integration with shiki. Can we close this?

[2022-03-27 23:52] yankeeinlondon commented on #25
This looks like a question regarding **markdown-it** plugins and should probably be brought up there. Regardless, there's enough missing context here that you at minimum need to provide that. You mention the `![]({{ $path }})` as the source of the problem but it's not in your code example nor is there a clear definition of what the actual issue with this variable is? Is it uninitialized?

Ultimate

[2022-03-28 00:14] yankeeinlondon commented on #58
I have run tests on Vue2 and Vue3 and with `exposeFrontmatter` set to true and false and the behavior that v0.12.x is providing seems to be consistent and correct unless there is an undocumented feature hiding out somewhere.

[2022-03-28 00:15] yankeeinlondon commented on #58
You can see these tests in PR #60

[2022-03-28 00:18] yankeeinlondon commented on #35
I have added the ability to plugin "builders" and I wonder if maybe the [Meta Builder](/docs/MetaBuilder.md) might help you solve your issue?

[2022-03-28 01:22] jekip commented on #26
you're right Finally, the solution was combined with Highlighter

[2022-03-28 01:22] #26 closed

[2022-03-28 01:24] #57 closed

[2022-03-28 01:28] #58 closed

[2022-03-28 05:16] #31 closed

[2022-03-28 14:54] yankeeinlondon commented on #20
@i-ez can you produce a minimally reproducible example of this issue or shall we close this?

[2022-03-29 08:29] #20 closed

[2022-04-01 16:46] imShara opened #62 "How to use with defineAsyncComponent?"
What parameter should be passed to convert?

[code]

[2022-04-03 10:12] yankeeinlondon commented on #62
First observation, you do not need to use **fetch**, you should just be able to _import_ a Markdown component:

[code]

From there, you I guess you could just wrap the import like so:

[code]

Anyway, hope it helps.

[2022-04-08 18:24] naknode opened #63 "Using with vue 2 and vite-plugin-vue2"
Trying to import vue 2 component with a markdown file...

[code]

vite: 2.9.1
vue: 2.6.14
vue-template-compiler: 2.6.14
vite-plugin-md: 0.12.4

[2022-04-12 10:28] XeryYue opened #64 "[Bug]: When I upgraded to version `0.12.x` I couldn't get the markdown `formatter`"
# Description

In ver `0.11.7`

When i use dynamic import load `.md` formatter info. i can got them.

![image](https://user-images.githubusercontent.com/52351095/162939665-075fb85a-db32-4b34-97d9-dded516b8ff4.png)

This is my chrome console

![image](https://user-images.githubusercontent.com/52351095/162939968-fa6e354c-235b-4153-991e-5819bdf08c09.png)

After ver `0.11.7` in new version `0.12.4`

I

[2022-04-13 20:03] imShara opened #65 "How to enable export frontmatter as named exports?"
I'm using [vite-plugin-md](https://github.com/antfu/vite-plugin-md) with Vite 2.9.3
I have found that this [should work](https://github.com/antfu/vite-plugin-md/pull/42) win default parameters, but it not works.

[code]

[code]

[code]

I tried to rewrite default parameters to expose frontmatter, but it not helps

[code]

[2022-04-13 21:05] imShara opened #66 "Is there way to use frontmatter variable as image path?"
Like this:

[code]

[2022-04-19 23:18] imShara commented on #65
Tried to manually export vars with and without `setup` script, but nothing works.
[code]

[code]

Tried to manually export vars
[code]

[code]

[2022-04-20 09:15] mathieutu commented on #65
Hi @imShara please don't send emails in addition to opening issue.

It worked at the time of the PR, can't say for now, sorry. Maybe there was a regression.

[2022-04-21 07:37] mathieutu commented on #65
It's weird as it seems to work in [tests](https://github.com/antfu/vite-plugin-md/blob/main/test/__snapshots__/exposeFrontmatter.test.ts.snap)

[2022-04-21 09:36] imShara commented on #65
Is `defineExpose` works only for parent components?

But this is not like `export` and you can't import variable like this:

**`component.md`**
[code]

**`check.vue`**
[code]

[2022-04-21 21:16] yankeeinlondon commented on #62
I think we should close this, @imShara do you agree?

[2022-04-21 21:18] yankeeinlondon commented on #51
i'm going to close this as I think this is not directly related to this plugin but if you feel it is then please re-open and give a reproducible example.

[2022-04-21 21:18] #51 closed

[2022-04-21 21:18] yankeeinlondon commented on #25
Closing for now. @rderimay if you feel it should be open, please add a reproducible example that we can use as a reference.

[2022-04-21 21:18] #25 closed

[2022-04-21 21:30] yankeeinlondon commented on #66
did you try this? it's pretty much already done you just didn't put in the curly brackes for the image source:

[code]

[2022-04-21 21:31] yankeeinlondon commented on #35
I'm closing this for now ... please add a clear example if you think it should be re-openned (after looking at the suggested `meta()` builder suggested above.

[2022-04-21 21:31] #35 closed

[2022-04-21 21:31] #62 closed

[2022-04-21 22:02] yankeeinlondon commented on #65
@mathieutu snapshot tests tell part but not all of the story ... I created that test as I was involved in a major refactor to bring in more pipelining functionality and wanted to articulate _existing_ features as best I could. Looking at the snapshot I would say that both Vue2 and Vue3 outputs _look_ right but I at least in Typescript, i'm not finding any way to avoid errors when trying to import

[2022-04-21 22:09] yankeeinlondon commented on #48
Would you mind putting a reproducible example here: https://vite.new/vue-ts

[2022-04-21 22:16] yankeeinlondon commented on #65
Ok, i've figured that out ... just needed the proper shim in my test directory. Let me create a more detailed test to see where this is. I'm in a feature directory but if the test passes here I'll share the results here and am hoping to close this feature out in the next day or two.

[2022-04-21 22:59] yankeeinlondon commented on #66
sorry, i closed based on my initial test passing but on restart of test runner it does appear it is failing based on my example.

[2022-04-21 23:14] yankeeinlondon commented on #64
thanks for bringing this to my attention ... i've a unit test now which shows this failing (I don't personally use this atm) and will see what I can do to get this fixed soon.

[2022-04-21 23:18] yankeeinlondon commented on #64
@antfu the immediate error is a bit hard to grok and I wouldn't have thought that any of the changes in version `0.12.x` would have had any direct impact on this but then my debugging skills inside the Vite build pipeline is something I need to get better at. Any suggestions on how best to debug?

![image](https://user-images.githubusercontent.com/980757/164566362-72d2608a-0bd0-48bf-82c9-66ed43b6e

[2022-04-22 00:23] yankeeinlondon commented on #64
I just tried running this test using `0.11.9`:

- test file:
[code]
- Added a shim file
[code]
- I then added a `vitest.config.ts` like we have in the `0.12.x` releases (and installed pages and layouts as devdeps):
[code]
- At this point I was expecting that it would work but instead I get this error:
  ![image](https://user-images.githubusercontent.com/980757/164571254-d1ef1c72-c316-4b09-939b-0da

[2022-04-22 00:28] yankeeinlondon commented on #64
same error on version `0.11.7` ... maybe I'm going down the wrong path

[2022-04-22 01:15] yankeeinlondon commented on #64
Since the errors seem to express some fault with the generated VueJS component's structure I thought it would be worth looking at this from the `0.12.x` series (in this case Vue3):

[code]

This looks perfectly valid. Which makes me think that possibly it's the upgraded versions of **Vite**?

- Vite: `2.7.6` -> `2.9.5`

That might just be being optimistic but do you see any issue with the markdown

[2022-04-22 01:25] yankeeinlondon commented on #65
first question ... can you import `frontmatter` symbol?

[code]

[2022-04-22 01:41] XeryYue commented on #64
thanks, :)

[2022-04-22 01:45] yankeeinlondon commented on #64
if you saw some other comments ... I appologize as I was thinking that your issue was related to a different issue regarding importing **frontmatter** properties. They may indeed be related but I think I'm going to need more information from you.

What would be best is if you can create a minimally reproducible example of this on [StackBlitz playground](https://vite.new/vue-ts). Also when you say

[2022-04-22 01:48] yankeeinlondon commented on #64
here's an example of what the markdown files from version `0.12.x` are converted to:

[code]

[2022-04-22 01:49] yankeeinlondon commented on #64
Does what I'm describing make sense and does it map to the issue you're having?

[2022-04-22 01:49] XeryYue commented on #64
yeah, And i will take a minimally exmaple :)

[2022-04-22 02:29] XeryYue commented on #64
Hi, Here is a `0.11.x` [exmaple](https://stackblitz.com/edit/vitejs-vite-lgeh8f?file=package-lock.json)

[2022-04-22 15:57] yankeeinlondon commented on #64
fantasic reproduction, thanks @XeryYue . WIll look over now and hopefully get this turned around. It dips into functionality I had definitely not built tests around and not personally used but excited to get this sorted and get some tests around it so it won't regress in the future.

[2022-04-22 17:57] imShara commented on #65
Nope

[code]

[2022-04-22 18:05] yankeeinlondon commented on #64
@XeryYue @antfu might need your collective brain power on how best to create a good unit test for this. I figured that this test:

[code]

along with this shim file:

[code]

Should be just fine but when I do this using `0.11.7` I still get this error:

Which at first I presumed to be because the library actually uses TSUP to build not ViteJS and so I presume Vitest wasn't able to reach this plugi

[2022-04-22 18:19] yankeeinlondon commented on #64
I believe I should have a fix for this soon but still keen on getting a more direct test for this so if either of you have any ideas how to test the import from **node** land I'd appreciate your help.

[2022-04-22 22:25] imShara commented on #66
It works with links, but not with pictures

[2022-04-23 00:07] yankeeinlondon commented on #64
I have submitted a fix which should make this work.

Note, however, the original implementation was not done quite to the specification it suggested in docs. Meaning ... the frontmatter props were exported as root level named exports on the module. This is undesirable because it can cause namespace collisions and because it makes typing the bundle more troublesome with shims. It also is inconsiste

[2022-04-23 15:13] yankeeinlondon commented on #63
Thanks for reporting this ... i've been trying to build a full set of tests so we don't have regressions going forward but while I have some synthetic tests for Vue2 we don't have tests that actually load Vue2. In any event, I just released a PR yesterday that @antfu has merged but not released yet to **npm** ... I'd expect this soon as `v0.12.5` and it should correct this error.

[2022-04-23 15:14] yankeeinlondon commented on #66
Ok, i'll add some tests for this in my latest PR (hopefully to be released in next few days) and see if we can't roll this fix into it.

[2022-04-23 15:45] yankeeinlondon commented on #66
So it would appear that for both links and and image sources are treated the same. In this example MD file:

[code]

both link and image tags URLencode the curly brackets prior to handoff to VueJS in build pipeline which blocks it from working. Here's the output I'm seeing:

[code]

I'm surprised it's working for you in links. Can you validate that?

[2022-04-23 17:00] yankeeinlondon commented on #66
I have added this into a PR i'm working on and all tests are now passing for links, images, and others:

[code]

Give me a few days to push this PR out ... it's a pretty big one but it's other features are largely just exposed as a "builder API" should have no impact on normal usage.

[2022-04-23 19:44] yankeeinlondon commented on #65
Ok, i believe there's a very good chance that `v0.13.0` which I contributed to has fixed this now

[2022-04-23 19:48] yankeeinlondon commented on #64
ok @antfu has released it now as `v0.13.0`; let me know if it fixes your issues. On my modification of your example code it appears to work: https://stackblitz.com/edit/vitejs-vite-lgeh8d-n1sz3c?file=package.json

@antfu I'm still concerned that we can't import the markdown files in NodeJS (that's true in `11.x` as well as `12/13.x`) and to make better unit tests I'd need to do this. I remember re

[2022-04-24 12:48] imShara commented on #65
Cool, It works again, thanks!

[2022-04-24 12:48] #65 closed

[2022-04-24 19:29] yankeeinlondon commented on #3
## Dep Intro

@HomyeeKing @antfu just a quick clarification ... I wanted to get this PR really ready for release and I'm a bit uncertain on an aspect I'd like feedback on.

The ViteJS pipeline of transforms involved today to convert a Markdown file to Javascript is:
- this plugin receives imported `.md` files and tranforms them to an SFC file format (which can include custom blocks but always cont

[2022-04-24 19:31] yankeeinlondon commented on #3
My personal preference is to take approach #1 above but at the current moment I think it may be easier for me to implement #2.

[2022-04-25 01:33] yankeeinlondon commented on #3
I am shocked to say, that apparently one of the MD files was in fact invalid so it threw off the build pipeline. As it turns out the async `transform` does work as expected but the error I received was confusing to say the least. In any event, since this appears to be ok then I will try to get the PR i'm working on to implement this feature.

[2022-04-25 01:44] XeryYue commented on #64
@yankeeinlondon  It's back to work again. Thank you very much : )

[2022-04-25 01:44] #64 closed

[2022-04-25 03:55] HomyeeKing commented on #3
@yankeeinlondon  you don't need to care the plugin order since the vite will handle it [internaly](https://vitejs.dev/guide/api-plugin.html#plugin-ordering), the `async` just means you can do async work in that hook, the build tool like vite\rollup will `await` your operation

so if the hooks has the tag `async`, such as [transform](https://rollupjs.org/guide/en/#transform) , just do async thing a

[2022-05-02 09:13] tolking opened #69 "Loss of <script> data in markdown files"
// markdown file

[code]

The bug demo [link](https://stackblitz.com/edit/vitejs-vite-votqhx?file=src/test.md)

[2022-05-05 06:44] tolking commented on #69
The changes I checked are likely to be caused [here](https://github.com/antfu/vite-plugin-md/commit/fd664e5bfbf929bb424244dc639bf80820133dc8#diff-cc6c6250ba7ab6b0615a648e8ae1b42941cdae0f4c47b6eabbb259c6d274b6efL80)

`hoistedScripts` includes information from the <script> in markdown file, but it's not being merged into the `scriptBlock`

[2022-05-06 09:29] coderzhaoziwei opened #72 "Set route with frontmatter variable?"
[code]

Route setting is ok as above, when using `vite-plugin-pages`.

So, how about using frontmatter variable to set route?

[code]

[2022-05-06 16:07] #69 closed

[2022-05-07 21:58] yankeeinlondon commented on #72
I believe this functionality is _intended_ to be present if you use the [`meta()` builder](https://github.com/antfu/vite-plugin-md/blob/main/docs/MetaBuilder.md) in your configuration. Have you tried this? The idea is that if you use this _builder_ you will be able to state which frontmatter properties should be treated as "route properties" and these properties will be set in the router's configu

[2022-05-07 22:16] yankeeinlondon commented on #72
Looking at the test suite, I think this is under-represented (aka, there aren't any tests yet) so I'll add some now to a PR i'm working on as I think this feature is really important.

[2022-05-07 22:55] yankeeinlondon commented on #72
I can confirm that testing was needed. The router metadata was being configured but not added to the document at the end of the transformation pipeline. I have fixed that in my current PR and have tests that should give this coverage. I expect to have this PR done in a few days.

[2022-05-08 17:25] coderzhaoziwei commented on #72
Thanks for your reply. I will try to config the meta builder first.

And not only the meta.

For example (with `vite-plugin-pages`):
There is a markdown file named `2022-05-01-file-name.md` in the folder `/pages/path/`.
Then the default route name is `2022-05-01-file-name`, and the default route path is `/path/2022-05-01-file-name`.

[code]

If settings for name and path could be worked as above,

[2022-05-08 20:03] yankeeinlondon commented on #72
i'm not sure I understand the idea about the **path** as this would typically have a `1:1` relationship with the filename and path of the Markdown file right? With regard to the route's name, I can see some sense there ... I personally rarely rely on named routes but since `name` is a root level property we would need to treat it differently were we to offer the ability to modify this.

[2022-05-09 01:51] coderzhaoziwei commented on #72
Yes, `name` or `path` would be treated differently as root props.

If frontmatter in `*.md` would be worked same as `<route>` in `*.vue`, it would be comfortable and convenient.

My English may not express clearly, thank you for your patience.

[2022-05-15 13:29] Soya-xy opened #74 "Use {{variable}} in code block variable is not defined"
Reference viet-plugin-md in Nuxt3. Create an `.md` file by referring to the importing method of unocss

[code]

Prompt name is not defined
This seems to be processed as a VUE component and should be output as pre

<img width="1450" alt="image" src="https://user-images.githubusercontent.com/56671014/168475103-19f87685-7a94-4aca-b142-187d9c9e1756.png">

[2022-05-15 13:44] Soya-xy commented on #74
Minimum repetition library

https://stackblitz.com/edit/nuxt-starter-maafkj?file=package.json

[2022-05-17 10:12] JasKang opened #75 "vite-plugin-md-preview"
hello , I have a repo [vite-plugin-md-preview](https://github.com/JasKang/vite-plugin-md-preview)
It adds block preview capability to vite-plugin-md.
I think it could be added to the Integrations section

[2022-05-19 12:54] kleinpetr commented on #66
any news here? :)

[2022-05-19 14:00] yankeeinlondon commented on #66
To be honest I'd expected this to be done already but have had a number health issues which have gotten in the way. I'll definitely update here once ready.

[2022-05-24 11:46] kleinptr9 opened #76 "Plugin meta with vueUse/head"
Hi,

I am trying to enable meta() plugin as a builder for the Markdown plugin, but nothing happened.
I am trying to change title and layout as route meta prop, but neither of them work

this is my config
[code]

I also use vueUse/head plugin, so maybe it could rewrite this behavior?

[2022-05-24 14:36] yankeeinlondon commented on #76
@kleinpetr to better understand what you're doing can you please provide a reproducible example with a [playground](https://vite.new/vue)? Use of Head is great but there is some nuance ... and there is a bug fix that is about to be released.

[2022-05-24 15:51] kleinpetr commented on #76
Yep, for example you can look here https://github.com/kleinpetr/meta-test

I've added `meta()` plugin which should use attribute `layout` from frontmatter by default, so in about.md I've set test layout, but it doesn't work.

Also I've disabled the `headEnabled` property, and the title is just Vitesse.

[2022-05-24 20:20] yankeeinlondon commented on #76
Ok, so here's where we are with that ... this one is near and dear to my heart as i'd really like a simple, out-of-the-box way to switch layouts ... I just pushed a PR a moment ago which has some fixes on this. It now definitely puts the custom route into the SFC component when you use `layout` so there's a much better chance this will just work for you once released to **npm** (I'm sure @antfu) w

[2022-05-24 20:22] yankeeinlondon commented on #76
Also side note, but looking at your use of `LinkAttributes` you might want to consider switching over to the `link` builder. Should do everything that MDI plugin does and whole lot more.

[2022-05-24 20:41] yankeeinlondon commented on #66
dropped a PR today that enables this feature ... not on **npm** yet but should be soon

[2022-05-25 08:45] unmian commented on #48
It's not json error, but `IconGrid` couldn't render as a vue component

[2022-05-25 09:18] kleinpetr commented on #76
Ok, thank you :) I will try it once there is an update.

Nice, it works really well, probably it could be use in the Vitesse template itself, what do you mean @antfu?

[2022-05-25 10:09] abitwhy opened #79 "Problem with Apostrophe"
The encoded single quotation marks are inconsistent.

![screen_20220525_0852](https://user-images.githubusercontent.com/68452982/170238274-692f258c-ecd3-45c2-bb5d-a26494a5376e.png)

Here is a [reproduction project](https://stackblitz.com/edit/vitejs-vite-mtnsdt?file=src%2FApp.md).

[2022-05-26 10:02] zguiyang opened #81 "Markdown document compilation problem"
# My question:

1.  Create a ``button.md``
2. Imported in route configuration:

[code]
3. run ``npm run dev``
4.  A warning message appears on the console:
[code]

The problem is caused by rendering `` button.md`` as a ``<Button>``component while rendering markdown

# Expected behavior

No error information is displayed on the console

Can you render `` button.md`` as a ``<Button.md>``component, o

[2022-05-31 19:28] yankeeinlondon opened #82 "Publish to NPM"
![image](https://user-images.githubusercontent.com/980757/171269280-d545a088-f62e-4c70-b882-9e85176b2d75.png)

@antfu can you please publish the PR which you accepted last week?

[2022-05-31 19:29] yankeeinlondon commented on #81
please produce a reprodicable example or else this will not get any attention.

[2022-05-31 20:21] yankeeinlondon commented on #75
Ok but I think you need to add a _little_ more to the documentation for your `README.md` as it took a bit more cognative load than I'd wanted to understand what it is and how I'd use it. Also, unless I've misunderstood it, you aren't using `vite-plugin-md` in a conventional way as you are suggesting that people create their playground documents with Vue components not with Markdown files. So in ef

[2022-05-31 20:23] yankeeinlondon commented on #75
If you're interested in the second approach i'm happy to work with you to get this over the line. In fact, I think I might use your component for a few projects :)

[2022-05-31 20:25] yankeeinlondon commented on #79
can you provide a reproducible example: [example](https://vite.new/vue)

[2022-05-31 20:26] yankeeinlondon commented on #79
i'll have a look

[2022-05-31 20:30] yankeeinlondon commented on #79
looks like it probably is Markdown:
![image](https://user-images.githubusercontent.com/980757/171279064-a538a09d-d1f2-409e-a3fa-5f023888f44c.png)

https://markdown-it.github.io/

[2022-05-31 21:28] yankeeinlondon commented on #79
![2022-05-31_13-56-06 (1)](https://user-images.githubusercontent.com/980757/171284419-f7dd0e5a-74ea-4a8a-b80c-8954d492991a.gif)

ahhh ... ok it's a bit more complicated but the problem is related to [smart quotes](https://github.com/markdown-it/markdown-it/blob/master/lib/rules_core/smartquotes.js) which is a feature many people want as it makes documents look a bit more professional. That's why t

[2022-05-31 21:28] #79 closed

[2022-05-31 21:30] yankeeinlondon commented on #48
I'm going to close this but if this is still an issue please be sure to re-open with a reproducible example

[2022-05-31 21:33] yankeeinlondon commented on #74
please do not use Nuxt in your MRL; there is no "M" in that ;)

[2022-05-31 21:35] yankeeinlondon commented on #74
I can say that you're markdown file will 100% work if you're using the plugin correctly but I'm not going to debug how you're using it. If you think I'm wrong please create a _minimally_ reproducible example. Until then I will close.

[2022-05-31 21:35] #74 closed

[2022-05-31 21:37] yankeeinlondon commented on #63
@naknode there were some changes made that might help with the problem you were having. Upgrade to the latest version and re-open this issue if you're still having it but be sure to create a minimally reproducible example with https://vite.new/vue

[2022-05-31 21:37] #63 closed

[2022-05-31 21:38] yankeeinlondon commented on #81
feel free to create a minamally reproducible example and re-open

[2022-05-31 21:38] #81 closed

[2022-06-01 01:39] #66 closed

[2022-06-01 01:40] antfu commented on #82
Done. Thanks!

The build and releasing in done in CI so I guess you could run `pnpm run release` to release it if you want to :)

[2022-06-01 01:40] #82 closed

[2022-06-01 15:20] yankeeinlondon commented on #76
the latest npm version has the fixes in it; can you give it a try and let me know if this can be closed?

[2022-06-04 00:07] yankeeinlondon commented on #75
@JasKang any thoughts on which way you'd prefer taking this? Congrats on your vitepress template btw, looks very nice

[2022-06-04 01:09] JasKang commented on #75
Sorry, I was traveling and didn't check my email in time.
I wasn't really looking at the `builder api` before, but I just found out about it and it's what I was looking for. That's cool.
I will use builders for refactoring, it needs to be more developer friendly

[2022-06-04 01:26] yankeeinlondon commented on #75
Super. You drop me a note on Discord at YankeeInLondon#9039 if you run into anything and want to pair on something. Eager to have others demonstrate what we can do with this API and start to really tap into it's power.

[2022-06-08 14:28] lgollut opened #84 "Issue with module name resolution when used in an esm package"
When used in a `type="module"` package, the resolutions of some dependencies seems to be broken by the fact that there is no automatic resolution of file extensions. Using `node --experimental-specifier-resolution=node` resolve this issue, but the flag is experimental and is not safe to use as per https://nodejs.org/api/esm.html#customizing-esm-specifier-resolution-algorithm.

I've created a repro

[2022-06-09 18:23] riderx opened #87 "Issue with latest vite version 2.9.10"
<img width="1247" alt="Screenshot 2022-06-09 at 19 23 25" src="https://user-images.githubusercontent.com/4084527/172917771-459f5511-ded4-49b4-83ad-be273bd35093.png">
Cannot build

[2022-06-10 13:12] Raynirs opened #88 "Wrong type of ExcerptFunction in Typescript?"
ExcerptFunction is defined as
[code]
but accually it returns void and the first parameter is an object as shown in the comment
[code]
I have to change the type in source code manually to avoid an error. Maybe this can be fixed easily.

[2022-06-11 12:57] FuBaooo opened #90 "Failed to use Vue component in markdown"
I think the case conversion of plug-in V14 is incorrect when converting markdown to Vue components, which leads to the problem.

When I change the plug-in version to V13, it can be loaded successfully

<img width="1376" alt="image" src="https://user-images.githubusercontent.com/43855486/173188357-c894ab4c-2f62-4600-850e-d02fc116d4d6.png">

<img width="1139" alt="image" src="https://user-images.git

[2022-06-11 16:05] FuBaooo opened #91 "Cannot use <script lang= "ts" setup> in markdown"
I noticed a file `script-hoisting.test.ts` in the test case. I try to use the same syntax in `example`, but I failed.
I tried a lot of ways. It seems that this part is all broken.

**↓↓↓↓↓↓↓↓↓↓↓You can see examples here↓↓↓↓↓↓↓↓↓↓↓**
[demo](https://stackblitz.com/edit/vitejs-vite-2754vc?file=example/src/pages/index.md)
**↑↑↑↑↑↑↑↑↑↑↑You can see examples here↑↑↑↑↑↑↑↑↑↑↑**

![image](https://user-image

[2022-06-14 00:01] prescience-data commented on #87
Same issue on latest version, fixed by rolling back to `0.13.1`.

[2022-06-14 02:28] antfu commented on #87
We temporarily close this due to the lack of enough information.
Please provide a [minimal reproduction](https://stackoverflow.com/help/minimal-reproducible-example) to reopen the issue.
Thanks.

[2022-06-14 02:28] #87 closed

[2022-06-15 16:28] riderx commented on #87
I cannot reproduce on fresh repo, so the issue come from upgrading module on old version of the template, difficult to share proper reproduction in this case.

[2022-06-16 03:19] whidy opened #92 "May I disable baseStyling for a custom markdown style"
The **baseStyling** is conflict with [`github-markdown.css`](https://github.com/sindresorhus/github-markdown-css) dark mode.

light mode is ok as image below:

![image](https://user-images.githubusercontent.com/2074757/173983128-5e6dd6bb-f29e-4b53-b198-1fdeafef0bfb.png)

But dark mode:

![image](https://user-images.githubusercontent.com/2074757/173983218-92fa8b9d-8db0-4254-a360-58cd5bac705c.png)

[2022-06-16 14:04] yankeeinlondon commented on #90
@FuBaooo can you produce a reproducible example on [Stackblitz](https://vite.new/vue)?

[2022-06-16 16:38] #92 closed

[2022-06-16 17:04] yankeeinlondon commented on #90
it definitely does work if you use formal HTML syntax: [example](https://stackblitz.com/edit/vitejs-vite-uyxkkp?file=src/components/ToggleTheme.vue)

[2022-06-16 17:11] yankeeinlondon commented on #90
I have been surprised for years that there hasn't been a greater push to move toward the standard. It's true there's no inherient advantage to either approach --  it's just another tabs vs spaces debate -- but the exception in this case is one is a a _standard_ and the other is not. It would appear that **Markdown It** as a parser doesn't care but **happy-dom** does and losses the capitalization i

[2022-06-16 17:17] yankeeinlondon commented on #88
@Raynirs I can look at this if you can put this into a minimally reproducible example on [Stackblitz](https://vite.new/vue)

[2022-06-17 01:23] FuBaooo commented on #90
Thank you for your answer. I habitually use the way Vue is written. At the same time, I see that [antfu](https://github.com/antfu/antfu.me/blob/main/pages/talks.md) is used in this way, so I think this is correct.

I will correct the use method in my project.

[2022-06-17 17:15] yankeeinlondon commented on #90
@FuBaooo components _are_ very commonly written in PascalCase and typically the first parser to receive that HTML is VueJS (or whatever framework the author is using). For this reason, so long as VueJS is happy with PascalCase it works (and VueJS definitely _is_ happy with either format). However, when it goes further down the stack ,the HTML specification for "custom components" states that non-s

[2022-06-17 22:46] yankeeinlondon commented on #91
@FuBaooo I am working a new PR and I have switched in your test file as the repo's primary test mechanism as it supports your view that this is not working as it should.

[2022-06-17 22:53] yankeeinlondon commented on #91
note that you can get everything to work if you're secondary script blocks are just `<script>` blocks and _not_ `<script setup>` blocks, right?

[2022-06-18 05:25] FuBaooo commented on #91
I haven't tried `<script>` yet, but I think `<script setup>` should work normally since it is in the [test case](https://raw.githubusercontent.com/antfu/vite-plugin-md/main/test/fixtures/hoisted.md).
I tried to copy the usage method in the test example, but failed.I think since it is in the test case, it should work

[2022-06-18 05:45] FuBaooo commented on #90
I think it should be added

[2022-06-18 13:58] yankeeinlondon commented on #91
The test case I had before worked fine but your test case added multiple `<script setup>` blocks which did not work. I think in general it would be a better idea for people to add `<script>` blocks in their code simply because the cardinality of `<script>` is **1:M** but that said I have updated the test to the more aggressive test you introduced and I have all tests passing there too now with a l

[2022-06-20 19:31] yankeeinlondon commented on #91
this is fixed in `v0.16.0`

[2022-06-20 19:31] #91 closed

[2022-06-20 19:33] yankeeinlondon commented on #90
this will now convert your PacalCase components to kebab-case automatically when detected in `v0.16.0`

[2022-06-20 19:33] #90 closed

[2022-06-20 19:34] yankeeinlondon commented on #88
fixed in `v0.16.0`; please follow the _type_ strictly and it will work or look at the tests I've added if you're not certain. I will add more to docs later.

[2022-06-20 19:34] #88 closed

[2022-06-20 19:34] yankeeinlondon commented on #76
fixed in `v0.16.0`

[2022-06-20 19:34] #76 closed

[2022-06-20 19:34] yankeeinlondon commented on #72
this work in `v0.16.0`

[2022-06-20 19:34] #72 closed

[2022-06-20 21:38] yankeeinlondon commented on #84
![image](https://user-images.githubusercontent.com/980757/174680074-cf08a082-6140-4cca-8714-ab3dc4b820de.png)

I tried your repo and the package which was causing me errors is **fp.ts** which is the premier functional library for Typescript. It does export both ESM and CJS as you see above but I know for resolution there are sometimes issues when one of the exports doesn't use `.cjs` or `.mjs`.

I

[2022-06-20 21:38] #84 closed

[2022-06-20 21:39] yankeeinlondon commented on #84
One thing I'd suggest is maybe add an issue (or ideally a PR) to the `fp-ts` repo to get them to start transpiling the ESM build to `.mjs`

[2022-06-21 00:08] yankeeinlondon commented on #3
support added in `v0.17.0`

[2022-06-21 00:08] #3 closed

[2022-06-21 00:11] yankeeinlondon commented on #84
@lgolllut I have configured the bundler to include the `fp-ts` code directly into this repo's distribution. This is available as of v0.17.0 ... have a look and see if this works for you. Seems to work from a very limited test but I feel I haven't really put it through all the tests yet.

[2022-06-22 06:36] kecrily opened #100 "Can't get page `meat.frontmatter` by route"
In previous versions I was getting the frontmatter from the `meta.frontmatter` exported in the route, but not anymore (it empty). I'm not sure if this is a bug or a change. If it is the expected behavior, how do I get the information about all pages in a directory now?

[code]
[code]

[code]

[2022-06-23 05:05] LarchLiu opened #101 "Cannot find module happy-wrapper"
I got this error when I upgraded vite-plugin-md to 0.17.x in my vitesse project.
[code]

Steps:
1. clone [vitesse](https://github.com/antfu/vitesse)
2. upgrade vite-plugin-md to 0.16.x or 0.17.x
3. run pnpm dev

[reproduction](https://codesandbox.io/s/infallible-booth-w9owwt?file=/package.json)

[2022-06-23 06:17] vernaillen commented on #101
Same problem here.  I think the issue exists since version 2.2.0 of happy-wrapper.

My project builds and runs again after fixing the version to 2.1.0:
`pnpm add -D @yankeeinlondon/happy-wrapper@2.1.0`

[2022-06-23 07:11] kecrily commented on #101
You can set `"type": "module"` in `package.json`

[2022-06-23 13:56] flahol commented on #101
Same problem here. thanks to @vernaillen for the solution

[2022-06-24 01:07] Codermar commented on #101
Same issue here starting with updating vite-plugin-md > 16 even with adding the type module prop to package.json
[code]

[2022-06-24 01:58] LarchLiu commented on #101
@yankeeinlondon Looks like that's the problem.

[2022-06-24 06:38] kecrily commented on #101
@Codermar Now `markdown-it` is a `peerDependencies`, so you need install it in your project.

[code]

[2022-06-24 11:41] husayt commented on #87
have the same issue

[2022-06-24 16:06] yankeeinlondon commented on #101
Hi folks, sorry been trying to ensure that everything is ESM and CJS compliant and I think there were a few bumps.

For context, I'm trying to make sure that the dependency stack works for ESM fully (it has not in the past) and there are a few packages which Vite seems to take issue with:

- `fp-ts` - it has an ESM implementation but the way it's done is awkward and Vite doesn't work well with it

[2022-06-24 19:45] yankeeinlondon commented on #101
Can someone please check that `v0.18.1` fixes this problem? In my tests it does.

[2022-06-24 19:59] kecrily commented on #101
It's fine for me

[2022-06-25 02:25] LarchLiu commented on #101
@yankeeinlondon 🎉 It works, thanks!

fixed @0.18.1

[2022-06-25 02:25] #101 closed

[2022-06-25 08:02] ntnyq opened #102 "HTML comment in markdown is not supported"
It just render the commented content and the comment syntax is ignored.

You can run example and reproduce it.

[2022-06-26 09:12] yzqdev opened #103 "string `process.env.NODE_ENV` in codeblock is generated into its value"
when I write `process.env.NODE_ENV` in markdown codeblock. It will gen the result rather than origin string `process.env.NODE_ENV`

![image](https://user-images.githubusercontent.com/20037151/175807281-62654f69-56d1-4bfb-a1cd-5fd2beeca99a.png)

here is my minial repo [stackblitz](https://stackblitz.com/edit/vitejs-vite-wxbcn8?file=package.json,vite.config.js,src%2Fcomponents%2FHelloWorld.md,src%2F

[2022-06-28 17:33] nolandcheng opened #104 "just install it seems like it's not enough"
Excuse me. I was update `vite-plugin-md` to `0.18.1` from `0.13.1`, but i need to install `happy-dom`、`markdown-it` `prismjs` to run successfully。
Is this the right process or my Installation mode is wrong？thanks

[2022-07-02 22:25] Mert75 commented on #104
Same issue with me with `happy-dom` package on a fresh installation

[2022-07-08 15:54] AlanMorel commented on #104
I can confirm this issue is happening to me as well

[2022-07-17 00:53] yankeeinlondon commented on #104
a bit odd but I wonder if it's due to the recent change in **npm**'s behavior WRT to peer dependencies.

[2022-07-17 00:56] yankeeinlondon commented on #102
please produce a reprodicible example

[2022-07-17 04:46] ntnyq commented on #102
[repro](https://github.com/ntnyq/vite-plugin-md-issue-102)

[2022-07-17 17:59] jeremeevans opened #105 "Support Vite 3"
### Describe the bug

This package can currently not be installed when using Vite 3, which is out now.

### Reproduction

Use Vite 3, attempt to install this package. It fails due to peer dependencies.

### System Info

[code]

### Used Package Manager

npm

### Validations

- [X] Follow our [Code of Conduct](https://github.com/antfu/.github/blob/main/CODE_OF_CONDUCT.md)
- [X] Read the [Contributi

[2022-07-18 07:06] Sheepeer opened #106 "Can this plugin used in with React?"
I tried to use this in React, but erros which seems relating with Vue appeared.

[2022-07-20 06:43] ZCY1715 opened #107 "Support dynamic import of markdown"
### Clear and concise description of the problem

I try to match different files according to certain rules by dynamically importing markdown files, but this method can run successfully in the development mode and report errors after packaging

![image](https://user-images.githubusercontent.com/75206433/179914046-43125d3f-21dc-4924-b77f-e1cea336f3a0.png)
![image](https://user-images.githubusercont

[2022-07-20 07:45] ZCY1715 commented on #107
Sorry, I found a solution

[2022-07-20 07:45] #107 closed

[2022-07-21 12:33] Kadeluxe commented on #107
It would be helpful what was the solution, I also have that problem.

[2022-07-22 00:25] yankeeinlondon commented on #106
It should be able to but the components which you integrate within the Markdown content must be VueJS components.

[2022-07-22 00:25] #106 closed

[2022-07-22 00:25] yankeeinlondon commented on #105
I have a feature branch which is Vite 3 ready

[2022-07-22 16:07] holtwick commented on #105
+1

<img width="401" alt="grafik" src="https://user-images.githubusercontent.com/49557/180479585-92c064d4-f0a9-4bbc-a3c7-8d6df960ed56.png">

[2022-07-24 08:47] flingyp opened #109 "example does not work"
### Describe the bug

use pnpm to install all dependencies, but execute pnpm example:dev to report an error

### Reproduction

TypeError: (0 , import_vite_plugin_md.meta) is not a function

### System Info

[code]

### Used Package Manager

pnpm

### Validations

- [X] Follow our [Code of Conduct](https://github.com/antfu/.github/blob/main/CODE_OF_CONDUCT.md)
- [X] Read the [Contributing Guide](ht

[2022-07-24 18:17] yankeeinlondon commented on #109
which version of the plugin did you use?

[2022-07-25 01:19] flingyp commented on #109
I use the latest code of the repository. The version of vite is ^3.0.2 but still not work.

[2022-07-25 03:29] yankeeinlondon commented on #103
i believe this is now fixed in `0.19.10`; give it a try and let me know

[2022-07-25 03:31] yankeeinlondon commented on #104
You should be able to upgrade to `0.19.10` and have everything work. The one thing which I haven't done yet is expose the builder apis so you'll need to import them manually if you want to (the "example app" shows this).

[2022-07-25 03:32] yankeeinlondon commented on #105
the branch aforementioned has been released now and Vite 3 should be fully supported

[2022-07-25 03:32] #105 closed

[2022-07-25 03:34] yankeeinlondon commented on #109
the latest release -- `0.19.10` -- works with Vite 3; the example app also works and shows how to manually import the "builder apis" (code, meta, link) if you're using them.

[2022-07-25 03:34] #109 closed

[2022-07-25 03:35] yankeeinlondon commented on #102
This should work in `0.19.10`; please let me if you are continuing to have this issue

[2022-07-25 05:39] ntnyq commented on #102
The issue still occurs after bumping to `0.19.11`.

Besides, introduced a new issue missing module `@rollup/pluginutils` so that Vite failed to start the dev server and had to install it manually.

[2022-07-25 06:39] yzqdev commented on #103
Great, thank you. It seems only `process.env.NODE_ENV` has this issue, the other environment varibles not, so close it

[2022-07-25 06:39] #103 closed

[2022-07-25 21:06] yankeeinlondon commented on #102
Sorry that the issue still presents. I'll have another look at that and add a test for the specific use case.

WRT to `@rollup/pluginutils` ... it's listed as a peer dependency of `vite-plugin-md` and at this point it would appear it needs to be as that library has some CJS-only deps that play poorly with Vite3.

[2022-07-25 21:08] yankeeinlondon commented on #102
if you don't know ... you can add an entry to `.npmrc` to make all peer dependencies get automatically installed (like they always used to be). I'd suggest that you do this if you don't like the manual install process (which of course you can still do if you want to even with this setting in place).

[2022-07-25 21:20] yankeeinlondon commented on #102
Ok, it appears this is the default behavior of the `gray-matter` package so I'm presuming this was never working in an earlier version.

[2022-07-25 23:40] yankeeinlondon commented on #102
update: on further testing it is NOT gray-matter but either `happy-dom` or my wrapper around it. I'll get this fixed today.

[2022-07-26 00:55] yankeeinlondon commented on #102
ok, really should be fixed this time in `0.20.0`; please re-open if you feel it's not working as expected.

[2022-07-26 00:55] #102 closed

[2022-07-26 00:58] yankeeinlondon commented on #104
I suggest that everyone install `0.20.0` and I believe all will work well. Please remember that package managers have changed their default behavior toward "peer dependencies" (in that they no longer automatically install them in the background) but you can revert to the old behavior by adding an `.npmrc` file to the root of your project and adding:

[code]

[2022-07-26 00:58] #104 closed

[2022-07-27 08:44] fengyuanchen opened #110 "Support Vue 2"
### Clear and concise description of the problem

The `@vitejs/plugin-vue` peer dependency is not compatible with Vue 2.

### Suggested solution

Remove the `@vitejs/plugin-vue` package from peer dependencies, so that users can install `@vitejs/plugin-vue2` for Vue 2.

### Alternative

_No response_

### Additional context

_No response_

### Validations

- [X] Follow our [Code of Conduct](https:/

[2022-07-28 21:29] kaceo commented on #75
Traditionally a pipeline that alters Markdown parsing is expressed in the form of plugins, e.g. markdown-it-attrs, markdown-it-emojis, etc.  The builder api despite a clever design, is rather complex and not fully explained in the documentation, plus recent refactoring create breaking changes.  Perhaps some effort can be put into better documentation and showcasing cases where builder api can be u

[2022-07-28 22:41] yankeeinlondon commented on #75
@kaceo I think keeping the core focused has benefits worth having and keeps it stable while allowing core members as well as other to extend the functionality at their own pace. I will be bundling all my Builder API's into an aggregation repo so that people can use whichever ones they want from a single source. I'm open to bundling other people's Builder's too if people have decent testing and are

[2022-07-28 22:51] yankeeinlondon commented on #110
should be done in `0.20.1`; sorry for the inconvenience

[2022-07-28 22:51] #110 closed

[2022-08-04 10:54] bicouy0 opened #111 "Fail to build when importing frontmatter"
### Describe the bug

When trying to import { frontmatter } from component, it works fine in dev.

But when trying to build the project it fails with "Module has no exported member 'frontmatter'".

[code]

Even if I add this section to vite-env.d.ts :

[code]

Still refuse to build...

### Reproduction

https://github.com/bicouy0/vue-md-frontmatter

### System Info

[code]

### Used Package Manage

[2022-08-17 19:14] AaronBeaudoin opened #112 "Error when using with `unplugin-vue-components` and SSR"
### Describe the bug

Minimal reproduction here (with steps in README):
https://github.com/AaronBeaudoin/vite-plugin-md-issue-weakmap-key

## Description

I have a minimal `Markdown.md` file:

[code]

Where `<Example/>` is being auto-imported by `unplugin-vue-components` from `./components/Example.vue`:

[code]

During development, going to the page shows the text "Example" as expected.

However,

[2022-08-18 09:13] brillout commented on #112
The reproduction Aaron provided uses [Vite's SSR API](https://vitejs.dev/guide/ssr.html).

This means that this bug affects all Vite frameworks ([vite-plugin-ssr - #422](https://github.com/brillout/vite-plugin-ssr/issues/422), Nuxt, ...).

[2022-08-23 07:46] nonzzz opened #113 "Fix buildApi typo."
### Additional context

From [BuildApi](https://github.com/antfu/vite-plugin-md/blob/main/docs/BuilderApi.md). It describes how to use build api. but it's stale. So I plan to update and fix it.

[2022-08-24 15:00] social-uni opened #115 "Is the code theme of vitepress open? I want to use the highlight style of vitepress, what should I do?"
Is the code theme of vitepress open? I want to use the highlight style of vitepress, what should I do?

thanks

[2022-08-25 08:36] antfu commented on #115
This project is not related to VitePress, please refer to it's docs or source code.

[2022-08-25 08:36] #115 closed

[2022-08-25 09:58] social-uni commented on #115
![image](https://user-images.githubusercontent.com/14007972/186634987-b9900a11-18b6-4383-aadd-2f02b9218740.png)

Hello, I am here for help, I am using the vite-plugin-md project, and I want to use the vitepress theme in this project, and I know that you, as the initiator of this project, have a certain relationship with vitepress Yes, that's why I came here for help

If you want to use a code styl

[2022-08-25 10:11] social-uni commented on #115
https://github.com/vuejs/vitepress/issues/1237

I have submitted a related issue in issues of vitepress, thank you

[2022-08-25 14:41] social-uni opened #116 "What is the difference between markdown-it plugin and Builder API？"
### Clear and concise description of the problem

May I ask what is the difference between markdown-it plugin and Builder API, I want to do some editing work on html while generating html, which one should I use

### Suggested solution

May I ask what is the difference between markdown-it plugin and Builder API, I want to do some editing work on html while generating html, which one should I use

[2022-08-26 15:21] social-uni opened #117 "How to achieve the same markdown rendering effect as github？"
I want my page to have the same effect of rendering markdown as github, do you know how to do it?

I now use vite-plugin-md + github-markdown-css

My effect is as follows

![256f2ca1f5d8b7cba1cce44a3d2e5b4](https://user-images.githubusercontent.com/14007972/186938410-4620d266-3a94-44a8-9004-b28383bdf453.jpg)

The following is the rendering effect of github
![cfbe65ae59d5dc926caf283d4ad785e](https:

[2022-08-26 15:39] social-uni commented on #117
markdown-it-github-headings solved my problem

[2022-08-26 15:39] #117 closed

[2022-08-30 16:08] yankeeinlondon commented on #113
Thanks again for the PR fix.

[2022-08-30 16:08] #113 closed

[2022-08-30 16:17] yankeeinlondon commented on #116
have you looked at docs folder in the repo?

[2022-08-30 16:48] yankeeinlondon commented on #116
actually i'm not sure I understand the question about "editing on html" ... I'm going to close for now but if you can give me a better idea on what you mean then feel free to re-open.

[2022-08-30 16:50] social-uni commented on #116
No, I haven't read it, I just read the readme in the root directory, I'll go check it out, thank you

[2022-08-31 13:20] cyshigehaohaizi opened #118 "vue2 build error"
### Describe the bug

when I build vite3+vue2 project ,error
[code]

this is my config

[code]
add  use
[code]

### Reproduction

vite vue2 build

### System Info

[code]

### Used Package Manager

yarn

### Validations

- [X] Follow our [Code of Conduct](https://github.com/antfu/.github/blob/main/CODE_OF_CONDUCT.md)
- [X] Read the [Contributing Guide](https://github.com/antfu/contribute).
- [X] C

[2022-09-07 18:51] AaronBeaudoin commented on #112
Just bringing attention back to this issue at the 3 week mark.

[2022-09-08 04:06] pangccc commented on #118
I met same problem with you.
It successed when I add vueVersion.
like this:
`Markdown({ vueVersion: '2.x.x' }) // your Vue version`

[2022-09-20 15:30] mzenz opened #121 "Error [ERR_MODULE_NOT_FOUND]: Cannot find package '@rollup/pluginutils'"
### Describe the bug

Creating a basic starter Vite + Vue + TS project via `yarn create vite@latest` fails to start dev server after installing `vite-plugin-md`.

Repro steps:

- `yarn create vite@latest` -> choose Vue + Typescript
- `yarn install vite-plugin-md`.
- Perform [install steps](https://github.com/antfu/vite-plugin-md#installing-this-plugin).
- Start dev server via `yarn dev`.

### Repr

[2022-09-22 10:43] Hextar commented on #121
I'm also trying to updated my project to use `vite 3` and encountered that issue
![image](https://user-images.githubusercontent.com/8740725/191726786-ad40ebd1-629f-4fbe-aed8-9335191c2595.png)

[2022-09-29 13:59] ntnyq commented on #121
Done it manually.

[2022-10-18 08:14] holtwick commented on #121
I see the same problem. I installed the dependencies, but the references in vite-plugin-md are outdated. New major versions of rollup and happy-dom are available. It would be great, if these dependencies could be updated in this project as well. Thanks.

[code]

[2022-10-19 13:28] nolandcheng commented on #121
I had a similar issue. And I need to fix it by installing `happy-dom`, I think the reason may be because I updated vite3 in my project

[2022-10-20 14:44] aslrz-club opened #122 "想实现一个自定义代码块,出现一下bug"
### Describe the bug

Problem encountered during the "finalize" stage of the vite-plugin-md transform pipeline:

### Reproduction

https://github.com/aslrz-club/vite-plugin-md

### System Info

[code]

### Used Package Manager

pnpm

### Validations

- [X] Follow our [Code of Conduct](https://github.com/antfu/.github/blob/main/CODE_OF_CONDUCT.md)
- [X] Read the [Contributing Guide](https://github.

[2022-11-21 11:09] Hoopex opened #123 "Server not starting"
### Describe the bug

I'm getting this issue last 2 days.

`[ERR_REQUIRE_ESM]: require() of ES Module \node_modules\brilliant-errors\node_modules\callsites\index.js from \node_modules\brilliant-errors\dist\index.cjs not supported.`

### Reproduction

Vue

### System Info

[code]

### Used Package Manager

npm

### Validations

- [X] Follow our [Code of Conduct](https://github.com/antfu/.github/blo

[2022-11-22 14:36] Discreater commented on #123
This may be  caused by `brilliant-errors`. See the [related issue ](https://github.com/inocan-group/brilliant-errors/issues/1).

[2022-11-22 21:32] Hoopex commented on #123
@Discreater Yeah I know, But this plugin not gonna work since that package has that issue
By the way, I fixed that temp by installing v0.60 in my project, Bu still not a good way.